/* Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* Color palette */
    --paleBlue: #9290C3;
    --lightBlue: #535C91;
    --deepBlue: #1B1A55;
    --darkBlue: #070F2B;
    --white: #fff;
    --offWhite: #E4E3F0;
    --black: #000;
    --grey: #707070;
    /* Font */
    --mainFont: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* Transitions */
    --transition: 0.7s ease all;
}

* {
    box-sizing: border-box;
    font-family: var(--mainFont);
    font-weight: 500;
}

body {
    background-image: url('images/bg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    width: 90%;
    max-width: 570px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--darkBlue);
    margin: 20px auto 0;
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: var(--offWhite);
    color: var(--darkBlue);
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: var(--offWhite);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button:hover {
    background: rgb(228, 227, 240, 0.6);
    transition: var(--transition);
}

.search button i {
    font-size: 22px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
    filter: invert(1) grayscale(100%) brightness(200%);
}

.weather h1 {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
}

.weather h2 {
    font-size: 36px;
    font-weight: 400;
    margin-top: -10px;
    color: #fff;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 90px;
}

.col p {
    color: var(--offWhite);
    margin: 0;
}

.humidity,
.wind {
    font-size: 24px;
    text-align: center;
}

.weather {
    display: none;
}

.error {
    text-align: center;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 0;
    display: none;
    color: #fff;
}

.slider {
    margin: 25px 0 0 0;
    color: var(--offWhite);
    display: none;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.button {
    background-color: var(--offWhite);
    width: 60px;
    height: 30px;
    border-radius: 60px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    transition: var(--transition);
}

.button::before {
    position: absolute;
    content: '';
    background-color: var(--darkBlue);
    width: 24px;
    height: 24px;
    border-radius: 60px;
    margin-top: 3px;
    margin-left: 2px;
    left: 0;
    transition: var(--transition);
}

input:checked+.button {
    background-color: rgb(228, 227, 240, 0.6);
    transition: var(--transition);
}

input:checked+.button::before {
    transform: translateX(32px);
}

.slider input {
    display: none;
}